<h1><%= data.title %></h1>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Tiêu đề</th>
       
      </tr>
    </thead>
    <tbody>
      <% data.list.forEach(element => { %>

      <tr>
        <th scope="row"><%= element.username %></th>
        <td><%= element.title %></td>
   
      </tr>

      <% }) %>
    </tbody>
  </table>