<style>
    body{color: #000;overflow-x: hidden;height: 100%;background-image: url("https://i.imgur.com/GMmCQHC.png");background-repeat: no-repeat;background-size: 100% 100%}.card{padding: 30px 40px;margin-top: 60px;margin-bottom: 60px;border: none !important;box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2)}.blue-text{color: #00BCD4}.form-control-label{margin-bottom: 0}input, textarea, button{padding: 8px 15px;border-radius: 5px !important;margin: 5px 0px;box-sizing: border-box;border: 1px solid #ccc;font-size: 18px !important;font-weight: 300}input:focus, textarea:focus{-moz-box-shadow: none !important;-webkit-box-shadow: none !important;box-shadow: none !important;border: 1px solid #00BCD4;outline-width: 0;font-weight: 400}.btn-block{text-transform: uppercase;font-size: 15px !important;font-weight: 400;height: 43px;cursor: pointer}.btn-block:hover{color: #fff !important}button:focus{-moz-box-shadow: none !important;-webkit-box-shadow: none !important;box-shadow: none !important;outline-width: 0}
</style>

<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            <h3><%= data.title %></h3>
            <p class="blue-text"></p>
            <div class="card">
                <h5 class="text-center mb-4"></h5>
                <!-- enctype="multipart/form-data" -->
                <form action="/insert_new_post" method="post" enctype="multipart/form-data">
                    
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Tiêu đề:<span class="text-danger"> *</span></label> <input type="text" id="fname" name="titlenew" placeholder=""> </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Nội dung:<span class="text-danger"> *</span></label> <input type="text" id="lname" name="contentnew" placeholder=""> </div>
                    </div>

                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Ảnh:<span class="text-danger"> *</span></label> <input type="file" name="filenew"> </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Danh mục:<span class="text-danger"> *</span></label> 
                            <select name="news_id" id="cars">
                                <% if (data.danhmuc) { %>
                                    <% data.danhmuc.forEach(e => { %>
                                        <option value="<%= e.id %>"><%= e.title %></option>
                                    <% }) %>
                                <% } %>
                            </select>
                        </div>
                    </div>

                    <input type="submit" value="Request">
                </form>

            </div>
        </div>
    </div>
</div>   